footer{
    /* position: absolute;
    bottom: 0%;
    left: 0%; */
    width: 100%;
    text-decoration: none;
    color:white;
    padding-left: 6%;
    padding-top:18px;
    background-color: black;
    padding-bottom: 20px;
}
.footer-1{
    padding-right: 0;
    margin-right: 0;
    text-decoration: none;
    color:grey;
    font-size: 19px;
   padding-top: 10px;
   line-height:45px;
   padding-bottom: 20px;
}
.footer-2{
    padding-left: 0;
    margin-left: 0;
    text-decoration: none;
    color:grey;
    font-size: 19px;
    line-height:40px;
   padding-top: 5px;
}
.list-2{
    padding-left:15%;
}
.list-3{
    margin-left: 15%;
}
.footer-3{
    text-decoration: none;
    color:grey;
    font-size: 19px;
    padding-top: 10px;
    line-height:45px;
    padding-bottom: 20px;
}
.footer-1:hover{
    color:white;
}
.footer-2:hover{
    color:white;
}
.footer-3:hover{
    color:white;
}
.brand{
    color:rgb(54, 163, 145);
    margin-bottom:0;
    margin-top: 0;
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    margin-left: 0px;
    padding-left: 0px;
    padding-bottom: 12px;
}