.body-international{
    z-index:-1;
    position: absolute;
    padding-top: 60px;
}
.h1-int{
    text-align: center;

}
footer{
    text-decoration: none;
    color:white;
    padding-left: 6%;
    padding-top:18px;
    margin-right: 0px;
    padding-right: 0px;
    background-color: black;
    padding-bottom: 20px;
}
.footer-1{
    text-decoration: none;
    color:grey;
    font-size: 19px;
   padding-top: 10px;
   line-height:45px;
   padding-bottom: 20px;
    margin-right: 0px;
}
.footer-2{
    text-decoration: none;
    color:grey;
    font-size: 19px;
    line-height:40px;
   padding-top: 10px;
}
.footer-3{
    text-decoration: none;
    color:grey;
    font-size: 19px;
    padding-top: 10px;
    line-height:45px;
    padding-bottom: 20px;
}
.list-2{
    margin-left: 15%;
}
.list1{
    text-decoration: none;
    color:white;
}
.footer-1:hover{
    color:white;
}
.footer-2:hover{
    color:white;
}
.footer-3:hover{
    color:white;
}
.brand{
    color:rgb(54, 163, 145);
    margin-bottom:0;
    margin-top:0;
    padding-top:10px;
    padding-bottom: 6px;
}
.help{
    text-decoration: none;
    color:green;
}
.help:hover{
    color:black;
}
.h2-international{
    font-weight: bold;
    text-decoration: none;
    color:lightseagreen;
}
.h2-link-international{
    text-decoration: none;
    color:lightseagreen;
}
.h2-link-international:hover{
    text-decoration: none;
    color:rgb(22, 228, 217)
}